.card {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  flex: 1 0 400px;
  max-width: 450px;
  height: 350px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.cardImg {
  display: flex;
  flex: 0 0 110px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  border-radius: 5px 5px 0 0;
}

.grayscale {
  padding: 15px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.cardContent {
  display: flex;
  flex: 1;
}

.cardContentLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  flex: 0 0 35%;
}

.cardContentRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  flex: 1;
}

.subscribersBox {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  width: 55px;
  height: 30px;
  font-weight: 600;
  box-shadow: 4px 3px 7px rgba(0, 0, 0, 0.45);
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.7s ease;
}

.avatarContainer {
  position: absolute;
  top: -45px;
  vertical-align: middle;
  background-color: gray;
  width: 90px;
  height: 90px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 30;
  border: 1px solid white;
}

.videoBox {
  position: relative;
  background-color: grey;
  height: 172px;
  width: 90%;
  box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.5);
}

.liveThumbnail {
  height: 100%;
  max-width: 100px;
}

.channelName {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #4b4b4b;
  text-align: center;
}

.videoTitle {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #4b4b4b;
}

.liveBox {
  background-color: white;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  justify-content: space-evenly;
  align-items: center;
  color: #ff0000;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 4px 3px 7px rgba(0, 0, 0, 0.25);
}

.circle {
  background-color: #ff0000;
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.videoBox:hover,
.avatarContainer:hover {
  transition: all 0.7s ease;
  cursor: pointer;
  filter: brightness(0.7);
}

.subscribersBox:hover {
  cursor: pointer;
}

.card:hover {
  box-shadow: 8px 6px 8px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease;
}

.filter {
  filter: grayscale(100%) brightness(0.5);
  -webkit-filter: grayscale(100%) brightness(0.5);
}

/* @media only screen and (max-width: 900px) {
  .card {
    width: auto;
    background-color: blue;
    max-width: 300px;
  }
} */
