html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  background: #74cfe2;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  z-index: 999;
}

nav > ul {
  list-style-type: none;
  margin: 20px auto;
  padding: 10px 0;
  padding: 0;
}

nav > ul > li {
  display: inline;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

footer {
  min-height: 50px;
  width: 100%;
  margin-top: auto;
  background-color: #74cfe2;
  color: white;
  text-align: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5em;
}

footer ul li {
  display: inline;
  margin: auto 10px;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.content {
  flex: 1 1 auto;
  padding: 10px;
}
.navbar {
  min-height: 50px;
}

#__next {
  height: 100vh;
}
