.tabsContainer {
  margin: 5px auto;
  width: 95%;
  flex: 1;

  text-align: center;
}

.tabs {
  font-size: 36px;
  color: #000;
}

.tabContent {
  background-color: #f0f0f0;
  padding: 5px;
}

.box {
  display: flex;
  justify-content: center;
}

.buttonContainer {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
}

.buttonBase {
  transition: all 0.3s ease;
}

.buttonBase:hover {
  box-shadow: 8px 5px 4px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
.buttonFilter {
  box-shadow: 8px 5px 4px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
