.tabFlex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

/* .tabFlex > div {
  margin-right: auto;
  margin-left: auto;
} */

/* .item {
  padding: 0.5em;
  box-sizing: border-box;
} */

/* .tabFlex::after {
  content: "";
  flex: auto;
} */
